*.gz
*.fasta
*.html
*.zip
pfam.domtblout
pipeliner.2457943.cmds
pipeliner.2461188.cmds
pipeliner.4109324.cmds
trinity_combine.fasta.transdecoder.bed
trinity_combine.fasta.transdecoder.cds
trinity_combine.fasta.transdecoder_dir
trinity_combine.fasta.transdecoder_dir.__checkpoints
trinity_combine.fasta.transdecoder_dir.__checkpoints_longorfs
trinity_combine.fasta.transdecoder.gff3
trinity_combine.fasta.transdecoder.pep
*.uc
LOGFile
centroids.pep
entap_outfiles/
*.counts
transdecoder_2903826.err
transdecoder_2903826.out
vsearch_2903813.err
vsearch_2903813.out
vsearch_2907079.out
vsearch_2907079.err
centroids.fasta.index
centroids.fasta

/scripts

05_Clustering/clusters.uc
04_CodingRegions/transdecoder_2903826.out
05_Clustering/clustertransdecoder/centroids.fasta.index
*.err
*.out
